*{
    /* border: 1px dotted #FF0000;  */
    padding: 0px;
    margin: 0px;
    color: rgb(5, 187, 93);
    background-color:  whitesmoke; 
    /* rgb(55, 14, 0) */
}
h1{
    text-align: center;
    font: 50px cursive;
    color: rgb(0, 128, 11);
}
table{
    border-collapse: collapse;
    margin: auto;
}
th{
    width: 100px;
    color: rgb(39, 133, 45);
}
td{
    padding-left: 20px;
}
th,td{
    border-bottom: solid 1.5px rgba(100, 0, 0);
    border-right: solid 2px rgb(100, 0, 0);
}
th:last-child{
    border-top: none;
}
td:last-child{
    border-right: none;
}
tr:first-child th:last-child{
    border-right: none;
}
a{
    color: rgb(58, 174, 52);
    font-style: italic;
    display: inline;
}
a:hover{
    color: rgb(39, 133, 45);
    font-weight: bold;
}
body>a:last-child{ 
    float: right;
    margin-right: 15px;
    font-size: 1.25em;
    clear: both;
} 
li{
    float: left;
    margin: 10px;
    width: 45vw; 
    list-style: none;
}
form{
    padding-left: 25vw;
}
form>p{
    margin: 5px 0px;
}
label{
    color: rgb(39, 133, 45);
    display: inline-block;
    text-align: right;
    width: 200px;
}
input[type=text],input[type=password]{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px 5px;
}
input[type=submit]{
    font-size: 14px;
    color: rgb(5, 187, 93);
    display: block;
    margin-left: 175px;
    cursor: pointer;
}
input[type="number"]{
    width: 142px; 
}
.lien {
    display: flex;
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Centre verticalement les éléments */
}
span {
    margin-left: 15px;
}

.message_erreur{
    color: rgb(165, 30, 30);
}
.message_succès{
    color: rgb(39, 133, 45);
}

#fenetre_disccussion{
    border: solid 1.5px rgba(100, 0, 0);
    box-shadow: 5px 5px 10px rgba(50, 0, 0, 0.5);
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 300px;
    max-height: 300px;
    overflow: scroll;
    padding: 5px;
}
#messages_passes p{
    color:rgb(0, 128, 11);
}
#chat-input{
    display: flex;
    padding: 10px;
    padding-left: 0px;
    gap: 5px;
    align-items: center;
}
#message_rentre{
    height: 15px;
    font-size: 1em;
    padding: 1px;
}
#message_envoye{
    height: 20px;
    padding: 1px;
}
